---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='About this site' date='23/06/2023' updated='17/04/2024'>
<h1 data-sourcepos="2:1-2:17" dir="auto">
<a id="user-content-about-this-site" class="anchor" href="#about-this-site" aria-hidden="true"></a>About this site</h1>
<h2 data-sourcepos="4:1-4:8" dir="auto">
<a id="user-content-astro" class="anchor" href="#astro" aria-hidden="true"></a>Astro</h2>
<p data-sourcepos="5:1-6:52" dir="auto"><a data-sourcepos="5:1-5:28" href="https://astro.build" rel="nofollow noreferrer noopener" target="_blank">Astro</a> means that I can try any javascript framework and have somewhere to put it, this is the key reason i decided to go with it
So far I have used 3 seperate technologies, Namely:</p>
<ul data-sourcepos="7:1-11:0" dir="auto">
<li data-sourcepos="7:1-7:29">SolidJS -&gt; for the homepage</li>
<li data-sourcepos="8:1-8:25">Vue -&gt; for the TIL page</li>
<li data-sourcepos="9:1-11:0">Svelte -&gt; for the blog page
These are some of the latest technologies in the frontend world and I am excited to see what they can do</li>
</ul>
<h2 data-sourcepos="12:1-12:11" dir="auto">
<a id="user-content-tailwind" class="anchor" href="#tailwind" aria-hidden="true"></a>Tailwind</h2>
<p data-sourcepos="13:1-13:253" dir="auto"><a data-sourcepos="13:1-13:35" href="https://tailwindcss.com" rel="nofollow noreferrer noopener" target="_blank">Tailwind</a> Tailwind is very extensible and has great convenience features such as dark mode, it is also well supported by major frameworks and that means that no matter what framework I use, I will be able to get a consistent UI</p>
<h2 data-sourcepos="15:1-15:7" dir="auto">
<a id="user-content-ruby" class="anchor" href="#ruby" aria-hidden="true"></a>Ruby</h2>
<p data-sourcepos="16:1-16:460" dir="auto"><a data-sourcepos="16:1-16:33" href="https://www.ruby-lang.org" rel="nofollow noreferrer noopener" target="_blank">Ruby</a> is my default language and so i had to use it somewhere, so to make it worth my while i write blogs in pure mark down and have scripts to create and alter the .astro files by adding all the metadata etc... I also want to have syntax highlighting without too much difficulty so using a ruby script I can use the gitlab API to convert markdown into HTML which i can compliment with custom CSS so that i get the look that I want.</p>
<h2 data-sourcepos="18:1-18:5" dir="auto">
<a id="user-content-ai" class="anchor" href="#ai" aria-hidden="true"></a>AI</h2>
<p data-sourcepos="19:1-19:266" dir="auto">AI is the new big thing and so using <a data-sourcepos="19:38-19:71" href="https://chat.openai.com" rel="nofollow noreferrer noopener" target="_blank">ChatGPT</a> i can generate a short excerpt as well as a couple of key words which can help for a simple search that i have implemented with fuseJS on the frontend, which is using a json object as a database</p>
<h2 data-sourcepos="21:1-21:19" dir="auto">
<a id="user-content-where-to-find-it" class="anchor" href="#where-to-find-it" aria-hidden="true"></a>Where to find it</h2>
<p data-sourcepos="22:1-23:211" dir="auto">This site is hosted on <a data-sourcepos="22:24-22:55" href="https://render.com" rel="nofollow noreferrer noopener" target="_blank">render.com</a> and is also open source so can be found on <a data-sourcepos="22:100-22:148" href="https://github.com/h4ppyr0gu3/portfolio" rel="nofollow noreferrer noopener" target="_blank">GitHub</a>
It is a very simple site but allows me to play around with frontend technologies, as a backend developer it allows me to learn more about frontend and also the frontend technologies that are being used currently</p>
</Blog>