---
    import Blog from '../../layouts/Blog.astro';
    ---

    <Blog title='test blog'>
    <h1 data-sourcepos="2:1-2:9" dir="auto">
<a id="user-content-testing" class="anchor" href="#testing" aria-hidden="true"></a>Testing</h1>
</Blog>