---
    import Blog from '../../layouts/Blog.astro';
    ---

    <Blog title='Test file'>
    <h1 data-sourcepos="2:1-2:14" dir="auto">
<a id="user-content-example-file" class="anchor" href="#example-file" aria-hidden="true"></a>Example file</h1>
<h2 data-sourcepos="3:1-3:15" dir="auto">
<a id="user-content-example-file-1" class="anchor" href="#example-file-1" aria-hidden="true"></a>Example file</h2>
<h3 data-sourcepos="4:1-4:16" dir="auto">
<a id="user-content-example-file-2" class="anchor" href="#example-file-2" aria-hidden="true"></a>Example file</h3>
<h4 data-sourcepos="5:1-5:17" dir="auto">
<a id="user-content-example-file-3" class="anchor" href="#example-file-3" aria-hidden="true"></a>Example file</h4>
<h5 data-sourcepos="6:1-6:18" dir="auto">
<a id="user-content-example-file-4" class="anchor" href="#example-file-4" aria-hidden="true"></a>Example file</h5>
<h6 data-sourcepos="7:1-7:19" dir="auto">
<a id="user-content-example-file-5" class="anchor" href="#example-file-5" aria-hidden="true"></a>Example file</h6>
<h3 data-sourcepos="9:1-9:24" dir="auto">
<a id="user-content-drop-down-githublab" class="anchor" href="#drop-down-githublab" aria-hidden="true"></a>Drop down github/lab</h3>
<p dir="auto">
<details>
<summary>Click this to collapse/fold.</summary>
<p data-sourcepos="15:1-15:69">These details <em>remain</em> <strong>hidden</strong> until expanded.</p>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code><span id="LC1" class="line" lang="plaintext">PASTE LOGS HERE</span></code></pre>
<copy-code></copy-code>
</div>
</details>
</p>
<details>
<summary>Click this to _collapse/fold._</summary>
<p data-sourcepos="25:1-25:49">These details <em>remain</em> <strong>hidden</strong> until expanded.</p>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="27:1-29:3" class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code><span id="LC1" class="line" lang="plaintext">PASTE LOGS HERE</span></code></pre>
<copy-code></copy-code>
</div>
</details>
<blockquote data-sourcepos="33:1-34:18" dir="auto">
<p data-sourcepos="33:3-34:18">Block quotes
and another line</p>
</blockquote>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="36:5-38:0" class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code><span id="LC1" class="line" lang="plaintext">    something</span>
<span id="LC2" class="line" lang="plaintext">    else</span></code></pre>
<copy-code></copy-code>
</div>
<p data-sourcepos="39:1-39:121" dir="auto">In this <del>file</del> I <strong>would</strong> like to have <em>all</em> the possible features i would like and ensure that it generates correctly</p>
<ul class="section-nav">
<li>
<a href="#example-file">Example file</a><ul>
<li>
<a href="#example-file-1">Example file</a><ul>
<li>
<a href="#example-file-2">Example file</a><ul><li>
<a href="#example-file-3">Example file</a><ul><li>
<a href="#example-file-4">Example file</a><ul><li><a href="#example-file-5">Example file</a></li></ul>
</li></ul>
</li></ul>
</li>
<li><a href="#drop-down-githublab">Drop down github/lab</a></li>
</ul>
</li>
<li>
<a href="#code-blocks">Code Blocks</a><ul>
<li><a href="#ruby">Ruby</a></li>
<li><a href="#python">Python</a></li>
<li><a href="#javascript">Javascript</a></li>
<li><a href="#html">HTML</a></li>
<li><a href="#inline-blocks">Inline Blocks</a></li>
</ul>
</li>
<li><a href="#table">Table</a></li>
<li><a href="#mermaid">Mermaid</a></li>
</ul>
</li>
<li><a href="#welcome-to-stackedit-example-file">Welcome to StackEdit! example file</a></li>
<li>
<a href="#files">Files</a><ul>
<li><a href="#create-files-and-folders">Create files and folders</a></li>
<li><a href="#switch-to-another-file">Switch to another file</a></li>
<li><a href="#rename-a-file">Rename a file</a></li>
<li><a href="#delete-a-file">Delete a file</a></li>
<li><a href="#export-a-file">Export a file</a></li>
</ul>
</li>
<li>
<a href="#synchronization">Synchronization</a><ul>
<li><a href="#open-a-file">Open a file</a></li>
<li><a href="#save-a-file">Save a file</a></li>
<li><a href="#synchronize-a-file">Synchronize a file</a></li>
<li><a href="#manage-file-synchronization">Manage file synchronization</a></li>
</ul>
</li>
<li>
<a href="#publication">Publication</a><ul>
<li><a href="#publish-a-file">Publish a File</a></li>
<li><a href="#update-a-publication">Update a publication</a></li>
<li><a href="#manage-file-publication">Manage file publication</a></li>
</ul>
</li>
<li>
<a href="#markdown-extensions">Markdown extensions</a><ul>
<li><a href="#smartypants">SmartyPants</a></li>
<li><a href="#katex">KaTeX</a></li>
<li><a href="#uml-diagrams">UML diagrams</a></li>
</ul>
</li>
</ul>
<div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<h2 data-sourcepos="62:1-62:14" dir="auto">
<a id="user-content-code-blocks" class="anchor" href="#code-blocks" aria-hidden="true"></a>Code Blocks</h2>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="64:5-68:0" class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code><span id="LC1" class="line" lang="plaintext">here is regular block</span>
<span id="LC2" class="line" lang="plaintext">here we go </span>
<span id="LC3" class="line" lang="plaintext"></span>
<span id="LC4" class="line" lang="plaintext">&gt; here is a block</span></code></pre>
<copy-code></copy-code>
</div>
<blockquote data-sourcepos="69:1-70:7" dir="auto">
<p data-sourcepos="69:3-70:7">quote reply
quote</p>
</blockquote>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="72:5-73:0" class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code><span id="LC1" class="line" lang="plaintext">&gt; indented quote</span></code></pre>
<copy-code></copy-code>
</div>
<h3 data-sourcepos="74:1-74:8" dir="auto">
<a id="user-content-ruby" class="anchor" href="#ruby" aria-hidden="true"></a>Ruby</h3>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="75:1-89:3" data-canonical-lang="ruby" class="code highlight js-syntax-highlight language-ruby" lang="ruby" v-pre="true"><code><span id="LC1" class="line" lang="ruby"><span class="k">class</span> <span class="nc">Test</span></span>
<span id="LC2" class="line" lang="ruby">    <span class="k">def</span> <span class="nf">function</span><span class="p">(</span><span class="n">args</span><span class="p">)</span></span>
<span id="LC3" class="line" lang="ruby">        <span class="nb">test</span> <span class="o">=</span> <span class="s2">"string"</span></span>
<span id="LC4" class="line" lang="ruby">        <span class="n">number</span> <span class="o">=</span> <span class="mi">20</span></span>
<span id="LC5" class="line" lang="ruby">        <span class="n">args</span><span class="p">.</span><span class="nf">format</span></span>
<span id="LC6" class="line" lang="ruby">        <span class="vi">@var</span> <span class="o">=</span> <span class="kp">true</span></span>
<span id="LC7" class="line" lang="ruby">        <span class="c1"># do something</span></span>
<span id="LC8" class="line" lang="ruby">        <span class="k">if</span> <span class="n">args</span><span class="p">.</span><span class="nf">size</span> <span class="o">&gt;</span> <span class="mi">0</span></span>
<span id="LC9" class="line" lang="ruby">          <span class="vi">@var</span> <span class="o">=</span> <span class="kp">false</span></span>
<span id="LC10" class="line" lang="ruby">        <span class="k">end</span></span>
<span id="LC11" class="line" lang="ruby">        <span class="k">return</span> <span class="vi">@var</span></span>
<span id="LC12" class="line" lang="ruby">    <span class="k">end</span></span>
<span id="LC13" class="line" lang="ruby"><span class="k">end</span></span></code></pre>
<copy-code></copy-code>
</div>
<h3 data-sourcepos="91:1-91:10" dir="auto">
<a id="user-content-python" class="anchor" href="#python" aria-hidden="true"></a>Python</h3>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="92:1-99:3" data-canonical-lang="python" class="code highlight js-syntax-highlight language-python" lang="python" v-pre="true"><code><span id="LC1" class="line" lang="python"><span class="k">def</span> <span class="nf">function</span><span class="p">(</span><span class="n">args</span><span class="p">):</span></span>
<span id="LC2" class="line" lang="python">    <span class="n">var</span> <span class="o">=</span> <span class="bp">True</span></span>
<span id="LC3" class="line" lang="python">    <span class="c1"># do something</span></span>
<span id="LC4" class="line" lang="python">    <span class="k">if</span> <span class="n">args</span><span class="p">.</span><span class="n">size</span> <span class="o">&gt;</span> <span class="mi">0</span><span class="p">:</span></span>
<span id="LC5" class="line" lang="python">        <span class="n">var</span> <span class="o">=</span> <span class="bp">False</span></span>
<span id="LC6" class="line" lang="python">    <span class="k">return</span> <span class="n">var</span></span></code></pre>
<copy-code></copy-code>
</div>
<h3 data-sourcepos="101:1-101:14" dir="auto">
<a id="user-content-javascript" class="anchor" href="#javascript" aria-hidden="true"></a>Javascript</h3>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="102:1-113:3" data-canonical-lang="javascript" class="code highlight js-syntax-highlight language-javascript" lang="javascript" v-pre="true"><code><span id="LC1" class="line" lang="javascript"><span class="kd">function</span> <span class="nf">function</span><span class="p">(</span><span class="nx">args</span><span class="p">)</span> <span class="p">{</span></span>
<span id="LC2" class="line" lang="javascript">    <span class="nx">test</span> <span class="o">=</span> <span class="dl">"</span><span class="s2">string</span><span class="dl">"</span></span>
<span id="LC3" class="line" lang="javascript">    <span class="nx">number</span> <span class="o">=</span> <span class="mi">20</span></span>
<span id="LC4" class="line" lang="javascript">    <span class="nx">args</span><span class="p">.</span><span class="nx">format</span></span>
<span id="LC5" class="line" lang="javascript">    <span class="kd">var</span> <span class="o">=</span> <span class="kc">true</span></span>
<span id="LC6" class="line" lang="javascript">    <span class="c1">// do something</span></span>
<span id="LC7" class="line" lang="javascript">    <span class="k">if</span> <span class="nx">args</span><span class="p">.</span><span class="nx">size</span> <span class="o">&gt;</span> <span class="mi">0</span> <span class="p">{</span></span>
<span id="LC8" class="line" lang="javascript">        <span class="kd">var</span> <span class="o">=</span> <span class="kc">false</span></span>
<span id="LC9" class="line" lang="javascript">    <span class="p">}</span></span>
<span id="LC10" class="line" lang="javascript"><span class="p">}</span></span></code></pre>
<copy-code></copy-code>
</div>
<h3 data-sourcepos="115:1-115:8" dir="auto">
<a id="user-content-html" class="anchor" href="#html" aria-hidden="true"></a>HTML</h3>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="116:1-118:3" data-canonical-lang="html" class="code highlight js-syntax-highlight language-html" lang="html" v-pre="true"><code><span id="LC1" class="line" lang="html"><span class="nt">&lt;h1&gt;</span>Hello<span class="nt">&lt;/h1&gt;</span></span></code></pre>
<copy-code></copy-code>
</div>
<h3 data-sourcepos="120:1-120:17" dir="auto">
<a id="user-content-inline-blocks" class="anchor" href="#inline-blocks" aria-hidden="true"></a>Inline Blocks</h3>
<p data-sourcepos="122:1-122:60" dir="auto">here is an inlin <code>block i think</code> lets see what it looks like</p>
<h2 data-sourcepos="124:1-124:8" dir="auto">
<a id="user-content-table" class="anchor" href="#table" aria-hidden="true"></a>Table</h2>
<table data-sourcepos="126:1-128:9" dir="auto">
<thead>
<tr data-sourcepos="126:1-126:9">
<th data-sourcepos="126:2-126:4">a</th>
<th data-sourcepos="126:6-126:8">b</th>
</tr>
</thead>
<tbody>
<tr data-sourcepos="128:1-128:9">
<td data-sourcepos="128:2-128:4">c</td>
<td data-sourcepos="128:6-128:8">d</td>
</tr>
</tbody>
</table>
<h2 data-sourcepos="130:1-130:10" dir="auto">
<a id="user-content-mermaid" class="anchor" href="#mermaid" aria-hidden="true"></a>Mermaid</h2>
<pre class='mermaid'>
graph TD
  A --> B
  B --> C
  C --> D
</pre>
<h1 data-sourcepos="134:1-134:36" dir="auto">
<a id="user-content-welcome-to-stackedit-example-file" class="anchor" href="#welcome-to-stackedit-example-file" aria-hidden="true"></a>Welcome to StackEdit! example file</h1>
<p data-sourcepos="136:1-136:289" dir="auto">Hi! I'm your first Markdown file in <strong>StackEdit</strong>. If you want to learn about StackEdit, you can read me. If you want to play with Markdown, you can edit me. Once you have finished with me, you can create new files by opening the <strong>file explorer</strong> on the left corner of the navigation bar.</p>
<h1 data-sourcepos="139:1-139:7" dir="auto">
<a id="user-content-files" class="anchor" href="#files" aria-hidden="true"></a>Files</h1>
<p data-sourcepos="141:1-141:135" dir="auto">StackEdit stores your files in your browser, which means all your files are automatically saved locally and are accessible <strong>offline!</strong></p>
<h2 data-sourcepos="143:1-143:27" dir="auto">
<a id="user-content-create-files-and-folders" class="anchor" href="#create-files-and-folders" aria-hidden="true"></a>Create files and folders</h2>
<p data-sourcepos="145:1-145:237" dir="auto">The file explorer is accessible using the button in left corner of the navigation bar. You can create a new file by clicking the <strong>New file</strong> button in the file explorer. You can also create folders by clicking the <strong>New folder</strong> button.</p>
<h2 data-sourcepos="147:1-147:25" dir="auto">
<a id="user-content-switch-to-another-file" class="anchor" href="#switch-to-another-file" aria-hidden="true"></a>Switch to another file</h2>
<p data-sourcepos="149:1-149:139" dir="auto">All your files and folders are presented as a tree in the file explorer. You can switch from one to another by clicking a file in the tree.</p>
<h2 data-sourcepos="151:1-151:16" dir="auto">
<a id="user-content-rename-a-file" class="anchor" href="#rename-a-file" aria-hidden="true"></a>Rename a file</h2>
<p data-sourcepos="153:1-153:138" dir="auto">You can rename the current file by clicking the file name in the navigation bar or by clicking the <strong>Rename</strong> button in the file explorer.</p>
<h2 data-sourcepos="155:1-155:16" dir="auto">
<a id="user-content-delete-a-file" class="anchor" href="#delete-a-file" aria-hidden="true"></a>Delete a file</h2>
<p data-sourcepos="157:1-157:190" dir="auto">You can delete the current file by clicking the <strong>Remove</strong> button in the file explorer. The file will be moved into the <strong>Trash</strong> folder and automatically deleted after 7 days of inactivity.</p>
<h2 data-sourcepos="159:1-159:16" dir="auto">
<a id="user-content-export-a-file" class="anchor" href="#export-a-file" aria-hidden="true"></a>Export a file</h2>
<p data-sourcepos="161:1-161:177" dir="auto">You can export the current file by clicking <strong>Export to disk</strong> in the menu. You can choose to export the file as plain Markdown, as HTML using a Handlebars template or as a PDF.</p>
<h1 data-sourcepos="164:1-164:17" dir="auto">
<a id="user-content-synchronization" class="anchor" href="#synchronization" aria-hidden="true"></a>Synchronization</h1>
<p data-sourcepos="166:1-166:482" dir="auto">Synchronization is one of the biggest features of StackEdit. It enables you to synchronize any file in your workspace with other files stored in your <strong>Google Drive</strong>, your <strong>Dropbox</strong> and your <strong>GitHub</strong> accounts. This allows you to keep writing on other devices, collaborate with people you share the file with, integrate easily into your workflow... The synchronization mechanism takes place every minute in the background, downloading, merging, and uploading file modifications.</p>
<p data-sourcepos="168:1-168:74" dir="auto">There are two types of synchronization and they can complement each other:</p>
<ul data-sourcepos="170:1-175:0" dir="auto">
<li data-sourcepos="170:1-172:0">
<p data-sourcepos="170:3-170:158">The workspace synchronization will sync all your files, folders and settings automatically. This will allow you to fetch your workspace on any other device.</p>
<blockquote data-sourcepos="171:2-171:73">
<p data-sourcepos="171:4-171:73">To start syncing your workspace, just sign in with Google in the menu.</p>
</blockquote>
</li>
<li data-sourcepos="173:1-175:0">
<p data-sourcepos="173:3-173:144">The file synchronization will keep one file of the workspace synced with one or multiple files in <strong>Google Drive</strong>, <strong>Dropbox</strong> or <strong>GitHub</strong>.</p>
<blockquote data-sourcepos="174:2-174:91">
<p data-sourcepos="174:4-174:91">Before starting to sync files, you must link an account in the <strong>Synchronize</strong> sub-menu.</p>
</blockquote>
</li>
</ul>
<h2 data-sourcepos="176:1-176:14" dir="auto">
<a id="user-content-open-a-file" class="anchor" href="#open-a-file" aria-hidden="true"></a>Open a file</h2>
<p data-sourcepos="178:1-178:225" dir="auto">You can open a file from <strong>Google Drive</strong>, <strong>Dropbox</strong> or <strong>GitHub</strong> by opening the <strong>Synchronize</strong> sub-menu and clicking <strong>Open from</strong>. Once opened in the workspace, any modification in the file will be automatically synced.</p>
<h2 data-sourcepos="180:1-180:14" dir="auto">
<a id="user-content-save-a-file" class="anchor" href="#save-a-file" aria-hidden="true"></a>Save a file</h2>
<p data-sourcepos="182:1-182:305" dir="auto">You can save any file of the workspace to <strong>Google Drive</strong>, <strong>Dropbox</strong> or <strong>GitHub</strong> by opening the <strong>Synchronize</strong> sub-menu and clicking <strong>Save on</strong>. Even if a file in the workspace is already synced, you can save it to another location. StackEdit can sync one file with multiple locations and accounts.</p>
<h2 data-sourcepos="184:1-184:21" dir="auto">
<a id="user-content-synchronize-a-file" class="anchor" href="#synchronize-a-file" aria-hidden="true"></a>Synchronize a file</h2>
<p data-sourcepos="186:1-186:209" dir="auto">Once your file is linked to a synchronized location, StackEdit will periodically synchronize it by downloading/uploading any modification. A merge will be performed if necessary and conflicts will be resolved.</p>
<p data-sourcepos="188:1-188:126" dir="auto">If you just have modified your file and you want to force syncing, click the <strong>Synchronize now</strong> button in the navigation bar.</p>
<blockquote data-sourcepos="190:1-190:90" dir="auto">
<p data-sourcepos="190:3-190:90"><strong>Note:</strong> The <strong>Synchronize now</strong> button is disabled if you have no file to synchronize.</p>
</blockquote>
<h2 data-sourcepos="192:1-192:30" dir="auto">
<a id="user-content-manage-file-synchronization" class="anchor" href="#manage-file-synchronization" aria-hidden="true"></a>Manage file synchronization</h2>
<p data-sourcepos="194:1-194:258" dir="auto">Since one file can be synced with multiple locations, you can list and manage synchronized locations by clicking <strong>File synchronization</strong> in the <strong>Synchronize</strong> sub-menu. This allows you to list and remove synchronized locations that are linked to your file.</p>
<h1 data-sourcepos="197:1-197:13" dir="auto">
<a id="user-content-publication" class="anchor" href="#publication" aria-hidden="true"></a>Publication</h1>
<p data-sourcepos="199:1-199:359" dir="auto">Publishing in StackEdit makes it simple for you to publish online your files. Once you're happy with a file, you can publish it to different hosting platforms like <strong>Blogger</strong>, <strong>Dropbox</strong>, <strong>Gist</strong>, <strong>GitHub</strong>, <strong>Google Drive</strong>, <strong>WordPress</strong> and <strong>Zendesk</strong>. With <a href="http://handlebarsjs.com/" rel="nofollow noreferrer noopener" target="_blank">Handlebars templates</a>, you have full control over what you export.</p>
<blockquote data-sourcepos="201:1-201:83" dir="auto">
<p data-sourcepos="201:3-201:83">Before starting to publish, you must link an account in the <strong>Publish</strong> sub-menu.</p>
</blockquote>
<h2 data-sourcepos="203:1-203:17" dir="auto">
<a id="user-content-publish-a-file" class="anchor" href="#publish-a-file" aria-hidden="true"></a>Publish a File</h2>
<p data-sourcepos="205:1-205:159" dir="auto">You can publish your file by opening the <strong>Publish</strong> sub-menu and by clicking <strong>Publish to</strong>. For some locations, you can choose between the following formats:</p>
<ul data-sourcepos="207:1-209:0" dir="auto">
<li data-sourcepos="207:1-207:99">Markdown: publish the Markdown text on a website that can interpret it (<strong>GitHub</strong> for instance),</li>
<li data-sourcepos="208:1-209:0">HTML: publish the file converted to HTML via a Handlebars template (on a blog for example).</li>
</ul>
<h2 data-sourcepos="210:1-210:23" dir="auto">
<a id="user-content-update-a-publication" class="anchor" href="#update-a-publication" aria-hidden="true"></a>Update a publication</h2>
<p data-sourcepos="212:1-212:249" dir="auto">After publishing, StackEdit keeps your file linked to that publication which makes it easy for you to re-publish it. Once you have modified your file and you want to update your publication, click on the <strong>Publish now</strong> button in the navigation bar.</p>
<blockquote data-sourcepos="214:1-214:91" dir="auto">
<p data-sourcepos="214:3-214:91"><strong>Note:</strong> The <strong>Publish now</strong> button is disabled if your file has not been published yet.</p>
</blockquote>
<h2 data-sourcepos="216:1-216:26" dir="auto">
<a id="user-content-manage-file-publication" class="anchor" href="#manage-file-publication" aria-hidden="true"></a>Manage file publication</h2>
<p data-sourcepos="218:1-218:245" dir="auto">Since one file can be published to multiple locations, you can list and manage publish locations by clicking <strong>File publication</strong> in the <strong>Publish</strong> sub-menu. This allows you to list and remove publication locations that are linked to your file.</p>
<h1 data-sourcepos="221:1-221:21" dir="auto">
<a id="user-content-markdown-extensions" class="anchor" href="#markdown-extensions" aria-hidden="true"></a>Markdown extensions</h1>
<p data-sourcepos="223:1-223:126" dir="auto">StackEdit extends the standard Markdown syntax by adding extra <strong>Markdown extensions</strong>, providing you with some nice features.</p>
<blockquote data-sourcepos="225:1-225:91" dir="auto">
<p data-sourcepos="225:3-225:91"><strong>ProTip:</strong> You can disable any <strong>Markdown extension</strong> in the <strong>File properties</strong> dialog.</p>
</blockquote>
<h2 data-sourcepos="228:1-228:14" dir="auto">
<a id="user-content-smartypants" class="anchor" href="#smartypants" aria-hidden="true"></a>SmartyPants</h2>
<p data-sourcepos="230:1-230:114" dir="auto">SmartyPants converts ASCII punctuation characters into "smart" typographic punctuation HTML entities. For example:</p>
<table data-sourcepos="232:1-236:80" dir="auto">
<thead>
<tr data-sourcepos="232:1-232:80">
<th data-sourcepos="232:2-232:17"></th>
<th data-sourcepos="232:19-232:49">ASCII</th>
<th data-sourcepos="232:51-232:79">HTML</th>
</tr>
</thead>
<tbody>
<tr data-sourcepos="234:1-234:80">
<td data-sourcepos="234:2-234:17">Single backticks</td>
<td data-sourcepos="234:19-234:49"><code>'Isn't this fun?'</code></td>
<td data-sourcepos="234:51-234:79">'Isn't this fun?'</td>
</tr>
<tr data-sourcepos="235:1-235:80">
<td data-sourcepos="235:2-235:17">Quotes</td>
<td data-sourcepos="235:19-235:49"><code>"Isn't this fun?"</code></td>
<td data-sourcepos="235:51-235:79">"Isn't this fun?"</td>
</tr>
<tr data-sourcepos="236:1-236:80">
<td data-sourcepos="236:2-236:17">Dashes</td>
<td data-sourcepos="236:19-236:49"><code>-- is en-dash, --- is em-dash</code></td>
<td data-sourcepos="236:51-236:79">-- is en-dash, --- is em-dash</td>
</tr>
</tbody>
</table>
<h2 data-sourcepos="239:1-239:8" dir="auto">
<a id="user-content-katex" class="anchor" href="#katex" aria-hidden="true"></a>KaTeX</h2>
<p data-sourcepos="241:1-241:91" dir="auto">You can render LaTeX mathematical expressions using <a href="https://khan.github.io/KaTeX/" rel="nofollow noreferrer noopener" target="_blank">KaTeX</a>:</p>
<p data-sourcepos="243:1-243:104" dir="auto">The <em>Gamma function</em> satisfying <code data-math-style="inline" class="code math js-render-math">\Gamma(n) = (n-1)!\quad\forall n\in\mathbb N</code> is via the Euler integral</p>
<blockquote data-sourcepos="245:1-245:174" dir="auto">
<p data-sourcepos="245:3-245:174">You can find more information about <strong>LaTeX</strong> mathematical expressions <a href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" rel="nofollow noreferrer noopener" target="_blank">here</a>.</p>
</blockquote>
<h2 data-sourcepos="248:1-248:15" dir="auto">
<a id="user-content-uml-diagrams" class="anchor" href="#uml-diagrams" aria-hidden="true"></a>UML diagrams</h2>
<p data-sourcepos="250:1-250:125" dir="auto">You can render UML diagrams using <a href="https://mermaidjs.github.io/" rel="nofollow noreferrer noopener" target="_blank">Mermaid</a>. For example, this will produce a sequence diagram:</p>
<pre class='mermaid'>
sequenceDiagram
Alice ->> Bob: Hello Bob, how are you?
Bob-->>John: How about you John?
Bob--x Alice: I am good thanks!
Bob-x John: I am good thanks!
Note right of John: Bob thinks a long<br/>long time, so long<br/>that the text does<br/>not fit on a row.

Bob-->Alice: Checking with John...
Alice->John: Yes... John, how are you?
</pre>
<p data-sourcepos="254:1-254:35" dir="auto">And this will produce a flow chart:</p>
<pre class='mermaid'>
graph LR
A[Square Rect] -- Link text --> B((Circle))
A --> C(Round Rect)
</pre>
</Blog>