---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='Annotations In Rails' date='10/07/2023' updated='10/07/2023'>
<h1 data-sourcepos="2:1-2:22" dir="auto">
<a id="user-content-annotations-in-rails" class="anchor" href="#annotations-in-rails" aria-hidden="true"></a>Annotations In Rails</h1>
<p data-sourcepos="4:1-4:175" dir="auto">Using <code is:raw>bin/rails notes</code> you can get all occurrences of commented annotations that are in the rails default list, but you are also able to extend this list with custom entries.</p>
<p data-sourcepos="6:1-6:52" dir="auto">Some example keywords include: <code is:raw>TODO</code>, <code is:raw>FIXME</code>, etc.</p>
<p data-sourcepos="8:1-8:99" dir="auto">And by using <code is:raw>bin/rails notes  --annotations &lt;KEYWORD&gt;</code> you can get all occurrences of that keyword</p>
<p data-sourcepos="10:1-10:90" dir="auto">Here it is in the <a href="https://guides.rubyonrails.org/command_line.html#bin-rails-notes" rel="nofollow noreferrer noopener" target="_blank">docs</a></p>
</Blog>