---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='jump tables used in embedded systems' date='23/05/2025' updated='23/05/2025'>
<h1 data-sourcepos="2:1-2:38" dir="auto">
<a href="#jump-tables-used-in-embedded-systems" aria-hidden="true" class="anchor" id="user-content-jump-tables-used-in-embedded-systems"></a>jump tables used in embedded systems</h1>
<p data-sourcepos="4:1-4:285" dir="auto">A jump table is an array of function calls, it is essentially a map, if there is a specific byte/integer that defines type, then we can read that type/number and then call a corresponding function, it is an array of functions that when referenced execute a function on the types behalf</p>
<p data-sourcepos="6:1-6:4" dir="auto">i.e.</p>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="7:1-18:3" data-canonical-lang="ruby" class="code highlight js-syntax-highlight language-ruby" v-pre="true"><code is:raw><span id="LC1" class="line" lang="ruby"><span class="k">def</span> <span class="nf">jump_table</span></span>
<span id="LC2" class="line" lang="ruby">    <span class="p">[</span></span>
<span id="LC3" class="line" lang="ruby">        <span class="n">method1</span><span class="p">,</span></span>
<span id="LC4" class="line" lang="ruby">        <span class="n">method2</span><span class="p">,</span></span>
<span id="LC5" class="line" lang="ruby">        <span class="n">method3</span></span>
<span id="LC6" class="line" lang="ruby">    <span class="p">]</span></span>
<span id="LC7" class="line" lang="ruby"><span class="k">end</span></span>
<span id="LC8" class="line" lang="ruby"></span>
<span id="LC9" class="line" lang="ruby"><span class="n">jump_table</span><span class="p">[</span><span class="mh">0x00</span><span class="p">]</span></span>
<span id="LC10" class="line" lang="ruby"><span class="c1"># in this instance 0x00 is the type/number we are looking for</span></span></code></pre>
<copy-code></copy-code><insert-code-snippet></insert-code-snippet>
</div>
<p data-sourcepos="20:1-20:70" dir="auto">This is used instead of a switch statement, because it is more compact</p>
<p data-sourcepos="22:1-22:83" dir="auto">The reason it is called a jump table is because the CPU would jump to that function</p>
</Blog>