---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='Reset File to Main Branch' date='30/08/2023' updated='30/08/2023'>
<h1 data-sourcepos="2:1-2:27" dir="auto">
<a id="user-content-reset-file-to-main-branch" class="anchor" href="#reset-file-to-main-branch" aria-hidden="true"></a>Reset File to Main Branch</h1>
<p data-sourcepos="4:1-4:89" dir="auto">To reset the file to the default branch, i.e. the main branch, run the following command:</p>
<div class="gl-relative markdown-code-block js-markdown-code">
<pre data-sourcepos="6:1-8:3" class="code highlight js-syntax-highlight language-plaintext" lang="plaintext" v-pre="true"><code is:raw><span id="LC1" class="line" lang="plaintext">git checkout main -- &lt;file-name&gt;</span></code></pre>
<copy-code></copy-code>
</div>
<p data-sourcepos="10:1-10:94" dir="auto">This will reset the file on your git branch so that there are no changes when compared to main</p>
</Blog>