---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='You need to load ruby in cron if you have a ruby cron script' date='12/03/2024' updated='12/03/2024'>

<p data-sourcepos="3:1-3:295" dir="auto">When running a ruby crontab script, your chosen ruby version manager should be sourced before running the script, or at the very least, the complete ruby executable path should be used before calling the ruby script, even if that ruby script starts with the correct shebang <code data-sourcepos="3:276-3:294">#!/usr/bin/env ruby</code></p>
</Blog>