---
import Blog from '../../layouts/Blog.astro';
---
<Blog title='You can use bundle open gem to view the gem source' date='27/09/2024' updated='27/09/2024'>
<h1 data-sourcepos="2:1-2:52" dir="auto">
<a href="#you-can-use-bundle-open-gem-to-view-the-gem-source" aria-hidden="true" class="anchor" id="user-content-you-can-use-bundle-open-gem-to-view-the-gem-source"></a>You can use bundle open gem to view the gem source</h1>
<p data-sourcepos="4:1-4:69" dir="auto">run <code data-sourcepos="4:6-4:27">bundle open &lt;gem_name&gt;</code> to open the gem source in your <code data-sourcepos="4:62-4:68">$EDITOR</code></p>
<p data-sourcepos="6:1-6:67" dir="auto">this opens only the files that the gem ships, i.e. the <code data-sourcepos="6:57-6:59">lib</code> folder</p>
</Blog>