---
import Layout from '../layouts/Layout.astro';
import BlogList from '../components/blog_list.svelte';
---

<Layout title="Blog | h4ppyr0gu3">
  <div>Here are all of my blogs</div>
  <BlogList />
</Layout>
