---
import Default from '../layouts/Default.astro';
import BlogList from '../components/blog_list.svelte';
---

<Default title="Blog | h4ppyr0gu3">
  <div>Here are all of my blogs</div>
  <BlogList />
</Default>
