---
import Default from '../layouts/Default.astro';
import CvApp from '../components/cv/CvApp.jsx';
---

<Default title="CV Generator | h4ppyr0gu3" description="Custom CV Generator">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">CV Generator</h1>
    <CvApp client:only="react" />
  </div>
</Default>
