---
import Default from '../layouts/Default.astro';
import Search from '../components/til/search.vue';
---

<Default title="TIL | h4ppyr0gu3">
  <div>Here are all of my blogs</div>
  <Search/>
</Default>
