---
import '../markdown.css';
import Layout from './Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <!--<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body); is:inline"></script> -->
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/languages/go.min.js" is:inline></script>
  <script type="module" is:inline >
import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
import hljs from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/es/highlight.min.js';

  mermaid.initialize({ startOnLoad: true });
  hljs.highlightAll();

function gotoHash() {
  var string = window.location.hash.replace('#', '');
  var targetElement = document.querySelector("#user-content-" + string);
  if (targetElement) {
    targetElement.scrollIntoView({ behavior: 'smooth' });
  }
}
gotoHash();
window.addEventListener('hashchange', function(event) {
  gotoHash();
});
  </script>
  <div class="lg:mx-10 sm:mx-2 xl:mx-20 lg:px-10 xl:px-20 sm:px-2 md:px-4">
    <!-- metadata here -->
    <slot />
  </div>
</Layout>


